<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>观点详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/detail.css}">
    <script type="text/javascript" src="./js/jquery-1.11.2.min.js"></script>
</head>
<body id="body">
<div>
    <input id="result" type="hidden" th:value="${re}">
    <div class="zx-main">
        <div class="pl12 pr12 zx-cont" style="margin-top: 10px">
            <!--标题-->
            <h2 class="fwb fs18 lh26 pb6 title" style="margin-top: 10px">
                <p th:text="${result.TITLE}">
            </h2>
            <div id="label"></div>
            <!--简介说明-->
            <div class="profile">
                <div class=" dis-fx fs12 lh18 gray pb3 source">
                    <p class="wid55" >发布时间&nbsp;&nbsp;<span th:text="${result.TIME}"></span></p>
                    <p>观点类型&nbsp;&nbsp;<span th:text="${result.VIEWPOINT_TYPE}"></span></p>
                </div>
                <div class="dis-fx fs12 lh18 gray">
                    <p class="wid55">风险等级&nbsp;&nbsp;<span th:text="${result.RISK_LEVEL}"></span></p>
                    <p>是否收费&nbsp;&nbsp;<span th:text="${result.IS_CHARGEABLE}"></span></p>
                </div>
            </div>
            <div style="margin-top: 5px"><span class="content-title">公开内容</span></div>
            <div class="content" th:utext="${result.OPEN_CONTENT}"></div>
            <div style="margin-top: 5px"><span class="content-title">私密内容</span></div>
            <div id="close" class="content"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var str = $("#result").val();
        if (str!=""){
            var json = jQuery.parseJSON(str);
            if(json.ABSTRACT!=null && json.ABSTRACT!=""){
                $("h2").after("<p>——<span>"+json.ABSTRACT+"</span></p>");
            }
            if(json.LABEL !=null && json.LABEL!=""){
                var labels = json.LABEL.split(",");
                for(var x in labels){
                    $("#label").append("<span>"+labels[x]+"</span>");
                }
            }else{
                $("#label").hide();
            }
            if(json.CLOSE_CONTENT!=null && json.CLOSE_CONTENT!=""){
                $("#close").text(json.CLOSE_CONTENT)
            }
        }
    })
</script>
</body>
</html>